*.core
*.swo
*.swp
*~
.lock-wscript
.project
.settings
/sn.txt
/test-inflight.js
/test.js
/test2.js
/v8.log
ldap.node
*#*
npm-debug.log
sample.c
.tern-port
openldap-data
test/slapd.args
test/slapd.pid
test/reconnect.js
.DS_Store
.fuse_*
*.log
